*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('/img/LoginWallpaper.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}
.flash-message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
.invalid-feedback{
    height: 30px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
span{
    height: 30px;
    padding: 10px 10px;
    color:red;
}
.errorContainer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.errors{
    color:red;
    text-align: center;
    margin-top: 40px;
    font-size: 16;
    font-family: sans-serif;
    margin-top: 10px;
}
.alert{
    min-width: fit-content;
    max-width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.alert-success{
    margin: 40px 50%;
    transform: translateX(-50%);
    max-width: 100%;
    padding:10px 20px;
    background-color:lightgreen;
    width:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.alert-danger{
    margin: 40px 50%;
    transform: translateX(-50%);
    padding:10px 20px;
    background-color:red;
    width:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#forgot-pw .from,#sign-up .from,
.form{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
}

#forgot-pw .form,
#sign-up .form{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    margin: auto;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
}

.form::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: rgba(255, 255, 255, .08); */
    border-radius: 10px;
    pointer-events: none;
}
.form img{
    position: absolute;
    top:-50px;
    left: calc(50% - 50px );
    width: 100px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
}
.form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: orange;
}

.form .input-group{
    position: relative;
}
.form .input-group input{
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: inherit;
}

.country-city-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.country-city-wrapper select{
    background-color: transparent;
    width: 60%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: inherit;
}
.gender{
    background-color: transparent;
    width: 40%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: inherit;
}
.phoneNumber{
    background-color: transparent;
    width: 50%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: inherit;
}

.country-city-wrapper .input-group #zipcode{
    background-color: transparent;
    width: 40%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: inherit;
}

.form .input-group input:valid,
.form .input-group select:valid{
    background: transparent;
}

.form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.form .input-group select:focus +label,
.form .input-group select:valid +label,
.form .input-group input:focus +label,
.form .input-group input:valid +label{
    transform: translateY(-23px);
    color: orange;
    font-size: .8rem;
}   
.input-a-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit-btn{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: orange;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.sign-up-btn{
    margin-left: auto;
    text-decoration: none;
    border: none;
    outline: none;
    background: orange;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: right;
}
.form .input-group select option{
    color: black;
}
.forgot-pw{
    color: inherit;
}

#forgot-pw,#sign-up{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index:-1;
    background: rgb(200, 200, 200);
    background-size: cover;
    opacity: 0;
    transition: 0.6s ease-in-out;
}

#forgot-pw:target,#sign-up:target{
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.close{
    position: absolute;
    right: 1.5rem;
    top: .5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}